/*---------------------------
    centering horizontally
----------------------------*/
.center {
  --measure: 20.4375rem;
  --gutters: 1.5rem;

  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--gutters);
  padding-inline-end: var(--gutters);
}

@media only screen and (min-width: 48em) {
  .center {
    --measure: 35.8125rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .center {
    --measure: 45.625rem;
  }
}

/*---------------------------
     switching from horizontal
     to vertical layout
----------------------------*/
.switcher {
  --threshold: 15.25rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}

/*---------------------------
    for creating a full bleed
    fixed width layout
----------------------------*/
/* center was originally used but making upon applying flex or grid to the body in order to vertically center the content, the card would get squished horizontally depending on what the api returned. This solution was used to fix that */
.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(45.625rem, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
