/*---------------------------
    centering horizontally
----------------------------*/
.center {
  --measure: 20.4375rem;
  --gutters: 1.5rem;

  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  padding-inline-start: var(--gutters);
  padding-inline-end: var(--gutters);
}

@media only screen and (min-width: 48em) {
  .center {
    --measure: 35.8125rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .center {
    --measure: 45.625rem;
  }
}

/*---------------------------
     switching from horizontal
     to vertical layout
----------------------------*/
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((15.25rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
