/* @link https://utopia.fyi/space/calculator?c=375,13,1.2,1440,15,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  /* COLOURS */
  --clr-ocean-blue: 212, 100%, 50%;
  --clr-heavy-grey: 217, 20%, 51%;
  --clr-navy-blue: 217, 35%, 45%;
  --clr-dark-metal: 217, 21%, 21%;
  --clr-cloudy-grey: 227, 100%, 98%;
  --clr-white: 0, 0%, 100%;
  --clr-dark-night: 220, 40%, 13%;
  --clr-dark-blue: 222, 41%, 20%;

  --clr-crimson: 0, 91%, 62%;

  /* DEFAULT COLOUR THEME */
  --clr-bg-main: hsl(var(--clr-cloudy-grey));
  --clr-bg-secondary: hsl(var(--clr-cloudy-white));
  --clr-text-primary: hsl(var(--clr-dark-night));
  --clr-text-secondary: hsl(var(--clr-navy-blue));
  --clr-text-toggle: hsl(var(--clr-heavy-grey));
  --clr-text-disabled: hsl(var(--clr-heavy-grey));
  --clr-text-link: hsl(var(--clr-ocean-blue));
  --clr-search-buttons: hsl(var(--clr-ocean-blue));

  /* FLUID TYPE SCALE */
  --step--2: clamp(0.69rem, calc(0.64rem + 0.19vw), 0.81rem);
  --step--1: clamp(0.69rem, calc(0.6rem + 0.38vw), 0.94rem);
  --step-0: clamp(0.81rem, calc(0.77rem + 0.19vw), 0.94rem);
  --step-1: clamp(0.81rem, calc(0.75rem + 0.28vw), 1rem);
  --step-2: clamp(0.81rem, calc(0.7rem + 0.47vw), 1.13rem);
  --step-3: clamp(0.88rem, calc(0.83rem + 0.19vw), 1rem);
  --step-4: clamp(1rem, calc(0.87rem + 0.56vw), 1.38rem);
  --step-5: clamp(1rem, calc(0.78rem + 0.94vw), 1.63rem);

  /* FLUID SPACE SCALE */
  --space-3xs: clamp(0.19rem, calc(0.17rem + 0.09vw), 0.25rem);
  --space-2xs: clamp(0.44rem, calc(0.42rem + 0.09vw), 0.5rem);
  --space-xs: clamp(0.63rem, calc(0.6rem + 0.09vw), 0.69rem);
  --space-s: clamp(0.81rem, calc(0.77rem + 0.19vw), 0.94rem);
  --space-m: clamp(1.25rem, calc(1.18rem + 0.28vw), 1.44rem);
  --space-l: clamp(1.63rem, calc(1.54rem + 0.38vw), 1.88rem);
  --space-xl: clamp(2.44rem, calc(2.31rem + 0.56vw), 2.81rem);
  --space-2xl: clamp(3.25rem, calc(3.07rem + 0.75vw), 3.75rem);
  --space-3xl: clamp(4.88rem, calc(4.61rem + 1.13vw), 5.63rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.19rem, calc(0.08rem + 0.47vw), 0.5rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.35rem + 0.38vw), 0.69rem);
  --space-xs-s: clamp(0.63rem, calc(0.51rem + 0.47vw), 0.94rem);
  --space-s-m: clamp(0.81rem, calc(0.59rem + 0.94vw), 1.44rem);
  --space-m-l: clamp(1.25rem, calc(1.03rem + 0.94vw), 1.88rem);
  --space-l-xl: clamp(1.63rem, calc(1.21rem + 1.78vw), 2.81rem);
  --space-xl-2xl: clamp(2.44rem, calc(1.98rem + 1.97vw), 3.75rem);
  --space-2xl-3xl: clamp(3.25rem, calc(2.41rem + 3.57vw), 5.63rem);

  /* Custom pairs */

  /* FONT WEIGHTS */
  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  background-color: var(--clr-bg-main);
  font-family: 'Space Mono', monospace;
  font-size: var(--step-0);
  font-weight: var(--fw-normal);
}

/* light theme */
:is(.light, :root:has(#light:checked)) {
  --clr-bg-main: hsl(var(--clr-cloudy-grey));
  --clr-bg-secondary: hsl(var(--clr-white));
  --clr-bg-tertiary: hsl(var(--clr-cloudy-grey));
  --clr-text-primary: hsl(var(--clr-dark-night));
  --clr-text-secondary: hsl(var(--clr-navy-blue));
  --clr-text-toggle: hsl(var(--clr-heavy-grey));
  --clr-text-disabled: hsl(var(--clr-heavy-grey));
  --clr-text-link: hsl(var(--clr-ocean-blue));
  --clr-search-buttons: hsl(var(--clr-ocean-blue));
}

/* dark theme */
:is(.dark, :root:has(#dark:checked)) {
  --clr-bg-main: hsl(var(--clr-dark-night));
  --clr-bg-secondary: hsl(var(--clr-dark-blue));
  --clr-bg-tertiary: hsl(var(--clr-dark-night));
  --clr-text-primary: hsl(var(--clr-white));
  --clr-text-secondary: hsl(var(--clr-cloudy-grey));
  --clr-text-toggle: hsl(var(--clr-white));
  --clr-text-disabled: hsl(var(--clr-heavy-grey));
  --clr-text-link: hsl(var(--clr-ocean-blue));
  --clr-search-buttons: hsl(var(--clr-ocean-blue));
}
