.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* custom grid 01 */
.c-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 70px 1fr;
  column-gap: 1.1875rem;
  row-gap: var(--space-l);
}

@media only screen and (min-width: 48em) {
  .c-grid {
    grid-template-columns: 117px 1fr;
    column-gap: 2.5625rem;
  }
}
